{% csrf_token %}
    <label>Title:</label><br/>
    <input type="text" name="title" value="{{ task.title }}"/><br/>

    <label>Description:</label><br/>
    <textarea name="description">{{ task.description }}</textarea>
    <br/>

    <label>Status:</label><br/>
    <select name="status">><br/>
        {% for value, status in statuses%}
            <option value="{{ value }}">{{ status }}</option>>
        {% endfor %}
    </select><br>

    <label>Date:</label><br/>
    <input type="date" name="completion_at" value="{{ task.completion_at }}"/></br>
    </br>
    <input type="submit" value="{{ button_text }}" class="btn btn-success"/>
